image: toolhippie/transifex:latest
manifests:
  -
    image: toolhippie/transifex:amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: toolhippie/transifex:arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: toolhippie/transifex:arm32v6
    platform:
      architecture: arm
      os: linux
      variant: v6
